.nav-link{
 padding-left:2rem;
 padding-right:2rem;
}

h2{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:48px;
 font-weight:bolder;
 line-height: 48px;
 text-align: left;
}

.card.shadow:hover{
background-color:#eeeaea;
cursor:pointer;
}

#card-title{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:28px;
 font-weight:bolder;
 line-height: 40px;
 text-align: left;
}

#card-body{
  color:#0D2C54;
  font-family:'Barlow', sans-serif;
  font-size:20px;
  font-weight:normal;
  line-height: 28px;
  text-align: left;
  margin-bottom:1rem;
 }

 #card-footer{
  margin-top:3rem;
  margin-bottom:0.5rem;
  justify-content: space-between;
 }

 .card-button{
  bottom:0;
 }

.content{
 margin-top:3rem;
 margin-right:5rem;
 margin-left:5rem;
}
#email-title{
  color:#0D2C54;
  font-family:'Barlow', sans-serif;
  font-size:48px;
  font-weight:bolder;
  line-height: 52px;
  justify-content: center;
  text-align:start;
 }

 #email-body{
  color:#0D2C54;
  font-family:'Barlow', sans-serif;
  font-size:22px;
  font-weight:normal;
  line-height: 2rem;
  padding-left:6rem;
  padding-right:6rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  position:relative;
 }

 #eventimage1{
background-image: url(escape-room.png);
background-size:cover;

 }

 #eventimage2{
  background-image: url(turkishlamp.png);
  background-size:cover;

   }

  #eventimage3{
    background-image: url(bartender.png);
    background-size:cover;
  
     }

  #eventimage4{
      background-image: url(chefs-touch.png);
      background-size:contain;
       }

 .col-lg-5.col-md-12.col-12{
  background-size:cover;
  background-size:auto;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
   }


li:hover{
background-color:rgba(250,250,250,0.8);
background-size:cover;
font-weight:bold;
background-blend-mode:lighten;
}

#navbar{
 justify-content: center;
 flex-direction: row;
}


h2{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:5rem;
 font-weight:bolder;
}

p{
 color:#603209;
 font-family:'Barlow', sans-serif;
 font-size:18px;
 line-height:20px;
 font-weight:bold;
}

#cardfooter{
display:flex;

}

::placeholder{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:0.9rem;
 
}

#exampleFormControlInput,inlineFormCustomSelectPref{
 width:auto;
 color:lightslategray;
 font-family:'Barlow', sans-serif;
 font-size:0.9rem;
}

#inlineFormCustomSelectPref{
 width:auto;
 color:lightslategray;
 font-family:'Barlow', sans-serif;
 font-size:0.9rem;
 border-width: 0rem;
 width:100%;
}


#form-text{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:22px;
 font-weight:500;
 line-height: 26px;
 margin-top:2rem;
 margin-bottom:2rem;
}



 #card-text{
  color:#FFFFFF;
  font-family:'Barlow', sans-serif;
  font-size:1.2rem;
  text-align: center;
 }

.herosection-text{
  color:#FFFFFF;
  font-family:'Barlow', sans-serif;
  font-size:3rem;
  font-weight:bold;
}

#herosection-container{
 margin-top:10rem;
 margin-left:7rem;
 margin-bottom:10rem;
}

.active{
 padding-left: 10px;
 padding-right: 10px;
}

button{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-weight: bolder;
 font-size:16px;
 padding-left:16px;
 padding-right:16px;
}
#searchbutton{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-weight: bolder;
 font-size:16px;
 max-height:2.2rem;
}

#search-button{
  color:#0D2C54;
  font-family:'Barlow', sans-serif;
  font-weight: bolder;
  font-size:16px;
  padding-left:2rem;
  padding-right:2rem;
  padding-top:0.7rem;
  padding-bottom:0.7rem;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
 }

#buttonsearch{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:16px;
 padding-left:16px;
 padding-right:16px;
 font-weight:bolder;
 margin-top:2rem;
 margin-bottom:2rem;
 justify-content: center;
 position:relative;
 display:flex;
 align-content: center;
}

.coverphoto{
background-image:url(homepage-cover.png);
background-size:cover;
min-width:30rem;
height:auto;
margin-top:-14rem;
z-index: -1;
display:flex;
justify-content: center;
align-items: center;
}

.herosection{
 background-image:url(e-motionherossection.png);
 background-size:cover;
 height:20rem;
 width:auto;
 }

.coverphoto-container{
 display:flex;
 flex-direction: row;
 position:relative;
}

.herosection2-container{
  background-image:radial-gradient(rgba(33,89,161,1) 20%, rgba(13,44,84,1) 80%);
  height:25rem;
  width:auto;
}

.form{
 position:relative;
 background-image:radial-gradient(rgba(250,250,250,0.5) 40%, rgba(250,250,250,0.7) 60%);
 border-radius: 5px;
 display: flex;
 align-items: center;
}



#container3{
 background-color: #E2F1FF;
background-size:cover;
display: flex;
margin-top:-20rem;
height:22rem;
min-width:50rem;
}

#container2{
 max-height:50rem;
 max-width:2rem;
 background-color:white;
 background-size: cover;
 padding:2rem;
 margin-top:-4rem;
 margin-left:14rem;
 margin-right:14rem;
 display: flex;
 min-width: 50rem;
 max-width: 80rem;
}

#cardcol{
 min-width:10rem;
 min-height:10rem;
 width:18rem;
 height:16rem;
 padding:0.5rem;
 margin:1rem;
 background-image:radial-gradient(rgba(33,89,161,1) 20%, rgba(13,44,84,1) 80%);
 border-radius: 5px;
}

#cardcol2{
  min-width:auto;
  min-height:auto;
  padding:auto;
  margin:auto;
  background-color:transparent;
  text-align: center;
  border-width: 0rem;
 }


.container{
 margin:12rem;
}

.container4{
 margin-left:2rem;
 margin-right:2rem;
 margin-top:2rem;
}

.container5{
  margin-left:2rem;
  margin-right:2rem;
  display:flex;
  flex-direction:row;
}

.form-inline{
 position:relative;
 margin-top:20rem;
 float: inline-end;
}

#exampleFormControlSelect1{
 min-width:12rem;
}

#inputPassword2{
 min-width:16rem;
}

.form-control.mx-sm-1.mb-1{
 min-width:8rem;
 max-height:0.5rem;
 padding-bottom:0.1rem;
}

.form-control.mx-sm-2.mb-1{
 min-width:12rem;
 margin-right:1rem;
}

#form-container{
 width: 40rem;
 height:auto;
 position:absolute;
 display: flex;
 border-radius: 5px;
 background-color:rgba(250,250,250,0.7);
 border-width:0rem;
 padding:2rem;
}

.form-control.max-width{
border-width:0rem;
}




#card-body2{
 display:flex;
 flex-direction: column;
 justify-self: center;
 }
 background-image:radial-gradient(rgba(250,250,250,0.5) 40%, rgba(250,250,250,0.7) 60%);
 background-size:cover;

input,option{
 color:#0D2C54;
 font-family:'Barlow', sans-serif;
 font-size:48px;
 font-weight:bolder;
 line-height: 52px;
}

#card-title1{
 font-weight:bolder;
 font-family: 'Barlow', sans-serif;
 padding-top:14rem; 
 padding-left:2rem; 
 font-size: 3rem;
 line-height: 3rem;
}

.searchinput{
  background-color:rgba(250,250,250,0.8);
  margin-left:3rem;
  margin-right:3rem;
  margin-bottom:3rem;
  margin-top:15rem;
  padding:2rem;
  width:90%;
  height:auto;
  display: flexbox;
  flex-direction: column;
  position:relative;
  border-radius:0.2rem;
  align-items: inherit;
  justify-items:left;
}
.searchinputtitle{
 margin-left:2rem;
 margin-right:2rem;
 width:90%;
 height:40%;
 display:block;
 position:relative;
 border-radius:0.2rem;
 justify-content:left;
 flex-direction: column;
 align-items: inherit;
}

